.container {
  height: 95%;
  width: 100%;
  background: url("../../assets/background/bgb5.jpg") no-repeat top, #fff;
  background-size: 100% 100%;
}

.side {
  width: fit-content;
}

.content {
  margin-left: 15px;
}

.side-image {
  height: 500px;
  width: 360px;
  border: 2px solid goldenrod;
  margin-left: 12px;
}

.divider {
  background: goldenrod;
}

.list-item {
  font-family: 'ZenDots';
}

.strong-lb {
  color: #656060;
}

.about-me-title {
  text-align: center;
  font-family: 'Choco-bold';
  font-size: xx-large;
}

.about-me-description {
  font-family: 'ZenDots';
  font-size: medium;
  padding-top: 15px;
}

.about-me-footer {
  font-family: 'ZenDots';
  font-size: medium;
  padding-top: 15px;
}
