<div class="container"
dir="ltr"
gdAreas="header header | side content | footer footer"
gdGap="16px"
gdRows="auto auto auto">
<div gdArea="header" fxLayoutAlign="center center">
  Header
 </div>
<div gdArea="side">
<img class="side" src="../../assets/images/osri.jpg">
 </div>
<div gdArea="content" >
  <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
  </mat-list>
</div>
<div gdArea="footer" fxLayoutAlign="center center">
  Footer
</div>
</div>
