<div class="spinner" *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">

  <section>
    <div class="action-button-row" layout="row" layout-align="start start">
      <button class="app-action-button app-button-prim" mat-raised-button color="prim" (click)="onAddVideo()"><mat-icon class="button-icon-addVideo"></mat-icon> הוסף</button>
      <button class="app-action-button app-button-secondary" mat-raised-button color="secondary" (click)="onViewVideo()" [disabled]="!isRowSelected"><mat-icon class="icon-align">article</mat-icon>פרטים</button>
      <button class="app-action-button app-button-warning" mat-raised-button color="warning" (click)="onEditVideo()" [disabled]="!isRowSelected"><mat-icon class="icon-align">edit_note</mat-icon>ערוך</button>
      <button class="app-action-button" mat-raised-button color="warn" (click)="onDeleteVideo()" [disabled]="!isRowSelected"><mat-icon class="icon-align">delete_forever</mat-icon>מחק</button>
    </div>
  </section>

  <section>
    <div class="action-button-row">
      <mat-form-field  appearance="legacy">
        <mat-label class="form-input-field">חפש סירטון</mat-label>
        <input matInput placeholder="חפש סירטון"
        class="form-input-field"
        type="text"
        (keyup)="filterVideos($event)">
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-form-field>
    </div>
  </section>

  <ngx-datatable
  #testimoniesTable
  [rows]="videos"
  class="bootstrap expandable"
  [rowHeight]="'auto'"
  [headerHeight]="50"
  [footerHeight]="50"
  [messages]="{emptyMessage:'אין נתונים להצגה', totalMessage: 'total', selectedMessage: 'selected'}"
  [limit]="50"
  [columnMode]="columnMode.standard"
  [selected]="selected"
  [limit]="10"
  [selectionType]="SelectionType.single"
  [sorts]="[{ prop: 'category', dir: 'aesc' }]"
  (select)="onSelect($event)"
>

<ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="" [sortable]="false" [width]="80" [resizeable]="false">
  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    <img class="img-thumbnail" [src]="row['thumbnail']" alt="">
  </ng-template>
</ngx-datatable-column>

<ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="title" [width]="160" [resizeable]="false">
  <ng-template let-column="column" ngx-datatable-header-template><strong>כותרת</strong></ng-template>
</ngx-datatable-column>

<ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="category" [width]="170" [resizeable]="false">
  <ng-template class="mobile-hidden" let-column="column" ngx-datatable-header-template><strong>קטגוריה</strong></ng-template>
</ngx-datatable-column>

<ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="description" [width]="360" [resizeable]="false">
  <ng-template class="mobile-hidden" let-column="column" ngx-datatable-header-template><strong>תאור</strong></ng-template>
</ngx-datatable-column>

<ngx-datatable-column headerClass="datatable-header-padding" cellClass="datatable-cell-padding" name="date" [sortable]="true" [width]="160" [resizeable]="false">
  <ng-template let-column="column" ngx-datatable-header-template><strong>תאריך</strong></ng-template>
  <ng-template class="mobile-hidden" let-row="row" let-value="value" ngx-datatable-cell-template>
    {{ row['date'] | date }}
  </ng-template>
</ngx-datatable-column>

  <ngx-datatable-footer #datatableFooter>
    <ng-template ngx-datatable-footer-template
    let-rowCount="rowCount"
    let-selectedCount="selectedCount"
    >
    <div>&nbsp;נבחר {{ selectedCount }}  מתוך {{ rowCount }} סרטונים </div>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
</div>
