.container {
  display: flex;
  flex-direction: column;
  position: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 10%;
}

mat-tab {
  background: goldenrod;
}

.tabs {
  border-bottom: none;
  border-radius: 4px;
}
.active-link {
  color: goldenrod;
  border-bottom: 2px solid;
}

.end-spacer {
  width: 20px;
}

svg#chart {
  background: transparent;
}
#chart line {stroke: rgb(238, 190, 69); stroke-width:1}

.tollbar-logo {
  margin-left: 15px;
  padding-right: 5px;
  float: left;
}
.toolbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  z-index:10;
}

.tollbar-name {
  font-family: ZenDots;
  float: left;
}

