
<!-- Toolbar -->
<mat-toolbar>
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="home" routerLink="home"></mat-tab>
  <mat-tab label="about us"></mat-tab>
  <mat-tab label="Third"></mat-tab>
  </mat-tab-group>
  <div class="spacer"></div>
  <span class="tollbar-name">CACAO - CREATIVE STUDIO</span>
  <img
  width="40"
  alt="Cacao Logo"
  src="https://i.vimeocdn.com/portrait/35044390_100x100.webp"
/>
</mat-toolbar>

<!-- <mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container> -->
