<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card">
    <mat-card-title class="card-title">צור קשר</mat-card-title>
    <mat-card-content class="card-content">
      <mat-list role="list">
        <mat-list-item class="contact-item" role="listitem">
          <strong class="strong-email-link">מייל: &nbsp;</strong>
          <a class="email-link" target="_blank" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=cacaocreative@gmail.com&su=פנייה בנושא:&body=אושרי שלום,%0D%0A &tf=1">
            cacaocriative@gmail.com
          </a>
        </mat-list-item>
        <mat-list-item class="contact-item" role="listitem"><strong class="strong-phone-link">סלולרי: &nbsp;</strong>
          ⁦<label class="phone-link" for="">+972 54-572-8166⁩</label>
        </mat-list-item>
        <mat-list-item class="contact-item" role="listitem">
          <strong class="strong-address-link">כתובת: &nbsp;</strong>
          <a class="address-link" target="_blank" href="https://www.google.com/maps/place/לח\u0022י 11, טירת הכרמל, ישראל">
            לח"י 11, טירת הכרמל
          </a>
        </mat-list-item>
      </mat-list>
      <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.9882169381362!2d34.9691398848182!3d32.76604718097529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151da4b363a087bb%3A0x6664eb5de275058d!2z15zXlyLXmSAxMSwg15jXmdeo16og15vXqNee15w!5e0!3m2!1siw!2sil!4v1621437813790!5m2!1siw!2sil"
      width="600"
      height="450"
      style="border: 1px solid goldenrod;"
      allowfullscreen=""
      loading="lazy">
    </iframe>
    </mat-card-content>
  </mat-card>
</div>
