<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="add-video-form">

  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="https://dummyimage.com/300x200/000/fff" alt="">
    <mat-form-field appearance="legacy">
      <mat-label>כותרת</mat-label>
      <input matInput placeholder="כותרת"
      type="text"
      ngModel
      name="title"
      required
      #titleNameCtrl="ngModel">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="!titleNameCtrl.valid && titleNameCtrl.touched"><small class="input-not-valid">זהו שדה חובה!</small></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>תאור</mat-label>
      <input matInput placeholder="תאור"
      type="text"
      ngModel
      name="description"
      required
      #descriptionCtrl="ngModel">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="!titleNameCtrl.valid && titleNameCtrl.touched"><small class="input-not-valid">זהו שדה חובה!</small></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>קישור</mat-label>
      <input matInput placeholder="הדבק קישור"
      type="text"
      ngModel
      name="videoURL"
      required
      #videoURLCtrl="ngModel"
      (onChange)="onUrlChange($event)">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint *ngIf="!titleNameCtrl.valid && titleNameCtrl.touched"><small class="input-not-valid">זהו שדה חובה!</small></mat-hint>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>קטגוריה</mat-label>
      <mat-select
      type="text"
      ngModel
      name="category"
      required
      #categoryCtrl="ngModel"
      >
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</form>
