
/* .sidenav-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
} */

main {
  width: 100%;
  /* margin: 1rem auto; */
}

mat-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
  text-align: center;
  width: 60px;
}

/* mat-sidenav .mat-drawer-inner-container {
  background: #212121;
  overflow: hidden !important;
} */

.nav-icon {
  color: goldenrod;
}

svg#chart {
  background: transparent;
}
#chart line {stroke: rgb(238, 190, 69); stroke-width:1}
