<!-- <app-toolbar></app-toolbar>
<mat-sidenav-container class="sidenav-container">

<mat-sidenav position="end" mode="side" opened fixedInViewport="true">
  <svg id="chart" width="40" height="60%">
    <line x1="20" y1="0" x2="20" y2="600"></line>
  </svg>
  <br>
  <a href="https://www.facebook.com/CacaoCreative/" target="_blank"><mat-icon class="custom-facebookIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://www.instagram.com/cacao_creative" target="_blank"><mat-icon class="custom-instagramIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://www.youtube.com/channel/UCvjuoslQ785WyL5yz0M92HQ" target="_blank"><mat-icon class="custom-youtubeIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://wa.me/+972545728166" target="_blank"><mat-icon class="custom-whatsappIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://twitter.com" target="_blank"><mat-icon class="custom-twitterIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://vimeo.com/user91903245" target="_blank"><mat-icon class="custom-vimeoIcon nav-icon"></mat-icon></a>
  <br>
  <a href="https://www.pinterest.com/" target="_blank"><mat-icon class="custom-pinterestIcon nav-icon"></mat-icon></a>
  <br>
  <svg id="chart" width="40" height="100%">
    <line x1="20" y1="0" x2="20" y2="600"></line>
  </svg>
</mat-sidenav>
<mat-sidenav-content>
<main>
    <router-outlet></router-outlet>
</main>
</mat-sidenav-content>
</mat-sidenav-container> -->
<app-main-nav>
  <main>
    <router-outlet></router-outlet>
</main>
</app-main-nav>
