.card {
  border: 1px solid #756d6d;
}

.card-image {
  width: 300px;
  height: 200px;
  background: black;
  object-fit: fill;
  margin: 0px -16px 0px -16px;
}

mat-card-title {
  font-family: 'choco';
}

mat-card-subtitle {
  font-family: 'choco';
  margin-bottom: 0px !important;
}

.card-footer {
  margin-right: 3px;
  font-family: 'Yoav';
  font-size: larger;
}
