@import '~@swimlane/ngx-datatable/index.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


.datatable-cell-padding {
  vertical-align: middle !important;
  padding: 5px !important;
  align-self: center;
  cursor: pointer;
}

.datatable-header-padding {
  vertical-align: middle !important;
  padding: 5px !important;
  font-family: Choco-bold;
  font-size: large !important;
  color: #e6b948;
  background: #212121;
}

mat-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.7em;
    height: 1.7em;
  }

  &[class*="input-icon-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.7em;
    height: 1em;
  }

  &[class*="button-icon-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-facebook"] {
    mask-image: url(./assets/icons/facebook.svg);
  }

  &[class*="custom-facebookIcon"] {
    mask-image: url(./assets/icons/facebookIcon.svg);
  }

  &[class*="custom-instagram"] {
    mask-image: url(./assets/icons/instagram.svg);
  }

  &[class*="custom-instagramIcon"] {
    mask-image: url(./assets/icons/instagramIcon.svg);
  }

  &[class*="custom-youtube"] {
    mask-image: url(./assets/icons/youtube.svg);
  }

  &[class*="custom-youtubeIcon"] {
    mask-image: url(./assets/icons/youtubeIcon.svg);
  }

  &[class*="custom-whatsapp"] {
    mask-image: url(./assets/icons/whatsapp.svg);
  }

  &[class*="custom-whatsappIcon"] {
    mask-image: url(./assets/icons/whatsappIcon.svg);
  }

  &[class*="custom-twitter"] {
    mask-image: url(./assets/icons/twitter.svg);
  }

  &[class*="custom-twitterIcon"] {
    mask-image: url(./assets/icons/twitterIcon.svg);
  }

  &[class*="custom-vimeo"] {
    mask-image: url(./assets/icons/vimeo.svg);
  }

  &[class*="custom-vimeoIcon"] {
    mask-image: url(./assets/icons/vimeoIcon.svg);
  }

  &[class*="custom-pinterest"] {
    mask-image: url(./assets/icons/pinterest.svg);
  }

  &[class*="button-icon-add-video"] {
    mask-image: url(./assets/icons/add-video.svg);
  }

  &[class*="button-icon-addVideo"] {
    mask-image: url(./assets/icons/addVideo.svg);
  }

  &[class*="custom-pinterestIcon"] {
    mask-image: url(./assets/icons/pinterestIcon.svg);
  }

  &[class*="input-icon-title"] {
    mask-image: url(./assets/icons/title.svg);
  }

  &[class*="input-icon-desciption"] {
    mask-image: url(./assets/icons/desciption.svg);
  }

  &[class*="input-icon-videoDescription"] {
    mask-image: url(./assets/icons/videoDescription.svg);
  }

  &[class*="input-icon-url"] {
    mask-image: url(./assets/icons/url.svg);
  }

  &[class*="input-icon-urllink"] {
    mask-image: url(./assets/icons/urllink.svg);
  }

  &[class*="input-icon-videoTitle"] {
    mask-image: url(./assets/icons/videoTitle.svg);
  }

  &[class*="input-icon-category"] {
    mask-image: url(./assets/icons/category.svg);
  }

  &[class*="input-icon-websiteurl"] {
    mask-image: url(./assets/icons/websiteurl.svg);
  }

}
