@font-face {
  font-family: 'ZenDots';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/ZenDots-Regular.ttf');
}

@font-face {
  font-family: 'Yoav';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Yoav.TTF');
}

@font-face {
  font-family: 'Yoav-bold';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Yoav-bold.TTF');
}

@font-face {
  font-family: 'Abraham';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Abraham-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Rubik.ttf');
}

@font-face {
  font-family: 'Karantina';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Karantina-Regular.ttf');
}

@font-face {
  font-family: 'choco';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/choco.ttf');
}

@font-face {
  font-family: 'Choco-bold';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/Choco-bold.TTF');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


mat-sidenav .mat-drawer-inner-container {
  background: #212121;
  overflow: hidden !important;
}

.success {
  background: rgb(24, 221, 24);
}

.success span {
  font-size: x-large !important;
  font-family: 'Abraham' !important;
  margin-left: auto;
  margin-right: auto;
}

.danger {
  background: red;
}

.danger span {
  font-size: x-large !important;
  font-family: 'Abraham' !important;
  margin-left: auto;
  margin-right: auto;
}

.form-input-field {
  font-family: choco;
  font-size: large;
}

.form-submit-button {
  font-family: Abraham;
  font-size: large;
  margin: 8px 8px 8px 8px;
}

.app-action-button {
  font-family: choco-bold;
  font-size: large;
}

.app-button-prim {
  background: green;
}

.app-button-warning {
  background: orange;
}

.app-button-secondary {
  background: cornflowerblue;
}

.mat-menu-panel {
  text-align: center;
  width: 150px;
  overflow: hidden !important;
  border: 1px solid goldenrod;
}

.mat-menu-content {
  padding: 5px;
}
