
@media screen and (max-width: 2559px) {
  .container {
    margin-right: 20px;
  }
}

@media screen and (max-width: 959px) {
  .container {
    margin-right: 15px;
  }
}
/* small size viewport */
@media screen and (max-width: 599px) {
  .container {
    margin-right: 5px;
  }
}

.vol-btn{
  top: 43px;
  right: 12px;
  position: fixed;
}

/* small size viewport */
@media screen and (max-width: 400px) {
  .vol-btn{
    top: 35px;
    right: 2px;
    position: fixed;
  }
}

mat-grid-list {
  background: transparent;
  margin-left: 10px;
  margin-right: 10px;
}

mat-grid-tile {
  padding-right: 0 !important;
}

app-video-item {
  cursor: pointer;
  margin-top: 32px;
}
